#игнорировать все тхт
*.txt
#игнорировать папку
build/
#игнорировать файл в корне
/config.json
#Игнорировать все файлы темп в любой папке
**/*.tmp
#не игнорировать файл (исключение)
!important.txt
#игнорировать все лог-файлы
*.log
#кроме главного
!main.log